@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 180 100% 94%;
    --foreground: 224 71.4% 4.1%;
    --card: 180 100% 98%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 180 100% 98%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 160 44% 60%;
    --primary-foreground: 224 71.4% 4.1%;
    --secondary: 220 13% 91%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 220 13% 91%;
    --muted-foreground: 220 9% 46%;
    --accent: 16 100% 66%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 13% 85%;
    --input: 220 13% 85%;
    --ring: 160 44% 60%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 160 44% 60%;
    --primary-foreground: 224 71.4% 4.1%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 16 100% 66%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 160 44% 50%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
